lib-xml/test/XML-Test-Suite/
tests/
.vs/
.vscode
build/
Testing/Temporary
CMakeSettings.json
include/zeep/config.hpp
**/.gdb_history
include/zeep/http/asio.hpp
lib-xml/src/revision.hpp
debug/
release/
docs/api
