aclocal.m4
autom4te.cache
config.log
config.status
**/Debug/
doc/autodoc.xml
doc/bin
doc/html
examples/bin/
GNUmakefile
lib/
lib-http/src/mrsrc.h
.libs/
lib-*/test/*-test
libtool
lib-xml/test/XML-Test-Suite/
libzeep.la
libzeep-*.pc
libzeep-*.tgz
msvc/libzeep-vc/x64/
msvc/.vs/libzeep-vc/v16/
**/obj/
**/obj.dbg/
tests/
**/*.vcxproj.user
.vs/
.vscode
build/
