lib/
lib-xml/test/XML-Test-Suite/
tests/
.vs/
.vscode
build/
Testing/Temporary
doc/bin
doc/html
doc/autodoc.xml
msvc/
doc/Jamfile.v2
CMakeSettings.json
include/zeep/config.hpp
examples/bin/
examples/obj/
examples/obj.dbg/

