[submodule "date"]
	path = date
	url = https://github.com/HowardHinnant/date.git
[submodule "libmcfp"]
	path = libmcfp
	url = https://github.com/mhekkel/libmcfp.git
[submodule "mxml"]
	path = mxml
	url = https://github.com/mhekkel/mxml.git
	branch = no-module
