#!/usr/bin/make -f

# export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch $@

build: build-stamp
build-stamp: configure-stamp  
	dh_testdir
	$(MAKE)
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	$(MAKE) clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs
	$(MAKE) LIBDIR=$(CURDIR)/debian/libzeep2/usr/lib install-libs
	$(MAKE) LIBDIR=$(CURDIR)/debian/libzeep-dev/usr/lib \
			INCDIR=$(CURDIR)/debian/libzeep-dev/usr/include \
			MANDIR=$(CURDIR)/debian/libzeep-dev/usr/share/man/man3 \
			install-dev

binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -V
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
